:root {
	--primaryColor: #602060;
	--secondaryColor: white;
	--borderColor: rebeccapurple;
}

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 80%;
    width:fit-content;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.table-theme {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-theme th, .table-theme td {
    border: 1px solid var(--borderColor);
    padding: 10px;
    text-align: left;
}

.table-theme th {
    background-color: var(--primaryColor);
    color: white;
}


.action-link {
    color: var(--primaryColor);
    text-decoration: none;
    font-weight: bold;
    display:block;
    padding: 5px;
    padding-right:0px;
}

.action-link:hover {
    color: #902080;
}

.details-container {
    overflow-x: auto;
}

@media (max-width: 768px) {
    .table-theme th, .table-theme td {
        padding: 8px;
        border: 1px solid var(--borderColor);
        text-align: center; 
    }

    .action-link {
        padding: 3px;
    }
    
    .container {
        width: 90%; 
        overflow-x: auto;
    }
}

}
