<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/themeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<div th:fragment="header" style="position:sticky;top:0px;z-index: 99999;background: white;" >
		<div class="header-theme">
			<h1>Ecommerce Milestone</h1>
		</div>
			<nav class="navbar navbar-expand-lg navbar-theme">
				<div class="container-fluid">
					<a th:href="@{/}" class="navbar-brand navbar-item-theme">Home</a>
					 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					      <span class="navbar-toggler-icon navbar-toggle-image"></span>
					 </button>
				
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
				      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				        <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle navbar-item-theme" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
				          <ul class="dropdown-menu navbar-theme" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item column-item-theme" th:href="@{/products/list?category=electronics}">Electronics</a></li>
				            <li><a class="dropdown-item column-item-theme " th:href="@{/products/list?category=home-decor}">Home Decor</a></li>
				            <li><a class="dropdown-item column-item-theme " th:href="@{/products/list?category=tools}">Tools</a></li>
				          </ul>
				        </li>
				        <li>
<li>
   <a class="nav-link navbar-item-theme" th:href="@{/aboutUs}">About us</a>
</li>
						</li>
				      </ul>
				      <ul class="navbar-nav" sec:authorize="isAnonymous()">
						  <li class="nav-item justify-content-end">
							<a class="nav-link navbar-item-theme" th:href="@{/login}">Login / Sign Up</a>
						</li>
					  </ul>
					  <ul class="navbar-nav" sec:authorize="isAuthenticated()">
						<li class="nav-item justify-content-end">
							<a class="nav-link navbar-item-theme" th:href="@{/products/creation}" sec:authorize="hasRole('ADMIN')">Create Product</a>
						</li>
						<li class="nav-item justify-content-end">
							<a class="nav-link navbar-item-theme" th:href="@{/logout}">Log Out</a>
						</li>
					  </ul>
					</div>
				</div>
			</nav>
	</div>
	
	<div th:fragment="footer" class="navbar-theme"style="position: fixed; bottom: 0; width: 100%; border:none;">
		<h5 style="font-size: 15px;padding:3px; " class="center-text">Copyright 2023</h5>
	</div>
</html>