<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/themeleaf/layout"
	layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div layout:fragment="content">
			<div style="position: relative;width:100%;overflow:hidden;">
				<img src="/images/HomeBackground.png" class="images">
				<h1 class="images-center-text" style="color:white;">Ecommerce Milestone</h1>
			</div>
			
			<div>
				<div class="column column-list-theme ">
					<h2 style="width:100%;" class="center-text">Products</h2>
						<a class="dropdown-item column-item-theme" th:href="@{/products/list?category=electronics}">Electronics</a>
						<a class="dropdown-item column-item-theme " th:href="@{/products/list?category=home-decor}">Home Decor</a>
						<a class="dropdown-item column-item-theme " th:href="@{/products/list?category=tools}">Tools</a>
				</div>
				<div class="column column-list-theme ">
					<h2 style="width:100%;" class="center-text">Account</h2>
<a class="dropdown-item column-item-theme" th:href="@{/shopping-cart}">Shopping Cart</a>
						<a class="dropdown-item column-item-theme " th:href="@{/}">Shipping Information</a>
				</div>
				<div class="column column-list-theme ">
					<h2 style="width:100%;" class="center-text">Contact Us</h2>
						<a class="dropdown-item column-item-theme" th:href="@{/}">FAQ</a>
						<a class="dropdown-item column-item-theme " th:href="@{/}">Blog</a>
						<a class="dropdown-item column-item-theme " th:href="@{/}">Social Media</a>
				</div>
			</div>
		</div>
	</body>
</html>