<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/themeleaf/layout"
      layout:decorate="layouts/defaultTemplate" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/product.css}" />
</head>
<body>
    <div layout:fragment="content" class="container">
        <h1 class="header-theme">Shopping Cart</h1>
        <div class="list-container">
            <table class="table-theme">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${cartItems}">
                        <td th:text="${product.productID}">Product ID</td>
                        <td th:text="${product.name}">Product Name</td>
                        <td th:text="${product.price}">Product Price</td>
                        <td>
    <a class="action-link" th:href="@{'/products/' + ${product.productID}}">View Details</a>
    <form th:action="@{/shopping-cart/remove-from-cart}" method="post">
    <input type="hidden" name="productId" th:value="${product.productID}" />
    <button type="submit" class="action-link no-border">Remove from Cart</button>
</form>
</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
